brotli==1.0.9
ConfigParser==5.3.0
cryptography==37.0.2
Cython==0.29.33
Django==4.0.5
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==4.11.4
keyring==23.13.1
lockfile==0.12.2
lxml==4.9.0
monotonic==1.6
numpy==1.22.1
ordereddict==1.1
protobuf==4.22.1
pyOpenSSL==23.0.0
tornado==6.2
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.8.0
