{% extends "layouts/base1.html" %}

{% block title %} Profile {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="page-inner mt-5">
    <div class="page-header mt-5">
        <div class="container">
            <div class="content">
                <div class="page-inner text-center">
                    <div class="card card-stats card-info card-round">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="flaticon-interface-6"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        
                                        <h8 class="card-title">No Books to display yet</h8>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
   